<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>MyAppGA</title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
   < /script

   < script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/app.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>SF Soccer Fields</h1>
      <p>"Soccer is simple, but it is dificult to play simple." Johan Cruyff</p>
    </div>
    <!-- Text for Reviews    -->

    <div id="text-review"><p>Write reviews.</p>
    <select class="c-select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      
    </select>


    </div>

    <!--placeholder for images-->
    <div id="pic"><p>Placeholder for soccer pictures.</p><div>
  </div>

</body>

</html>
