<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>MyAppGA</title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">


</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <div class="page-header">
      <h1>SF Soccer Fields</h1>
      <br>
      <br>
      <p>"Soccer is simple, but it is dificult to play simple." <br>Johan Cruyff</p>
    </div>
    </div>

    <!-- Text for Reviews    -->

       <div id="text-review"><h3>Read reviews for Soccer Fields.<hr></h3>

      <div id="field">
          <script id='field-template' type='text/x-handlebars-template'>
            <div id='fieldShow'>
                {{#each fields}}
              <p> Name: {{name}}</p>
                   {{#each reviews}}
                      Coach: {{name}}, wrote:
                      {{text}}
                    {{/each}}
                {{/each}}
            </div>
        </script>
      </div>


        <div id="reviews">
          <h3>Reviews</h3>
              <script id='review-template' type='text/x-handlebars-template'>

              <!-- {{#each reviews}}
              <p>{{@field}}:{{text}}</p>
              {{/each}} -->

            </script>
        </div>

        </div>



    <a href="/second">Add a review</a>
    <!--placeholder for images-->
    <!--<div id="pic"><p>Placeholder for soccer pictures.</p><div> -->
  </div>

</body>
<!-- VENDOR SCRIPTS -->
<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
  </script>

  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<script src="scripts/seed.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>
</html>
