<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>MyAppGA</title>

 <!-- STYLESHEETS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="styles/styles.css">

 <!-- VENDOR SCRIPTS -->
 <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
   < /script

   < script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

 <!-- APPLICATION SCRIPTS -->
 <script src="scripts/app.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <div class="page-header">
      <h1>SF Soccer Fields</h1>
      <p>"Soccer is simple, but it is dificult to play simple." <br>Johan Cruyff</p>
    </div>
    </div>

    <!-- Text for Reviews    -->

       <div id="text-review"><p>Write reviews.</p>

         <div id="field"></div>

         <script id='review-template' type='text/x-handlebars-template'>
           <form id="review">
           <select class="c-select" name="fieldId">
             <option selected>Choose a Field to review</option>
             {{#each fields}}
             <option value="{{_id}}">{{name}}</option>
             {{/each}}
          </select>
          <p>Reviews</p>

              <textarea rows="4" cols="50" name="text">
              Write a review here.
            </textarea>
          </form>
        </script>
        </div>

    <!--placeholder for images-->
    <div id="pic"><p>Placeholder for soccer pictures.</p><div>
  </div>

</body>

</html>
