/*body {
    background-color: black;
    font-family: Courier;
    color: white;
    font-size:20px;
     }
.page-header {
      color: black;

    }
.page-header h1 {
  font-size: 2.5em;
  font-family: fantasy;
  font-weight: bold;
}
*/

.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
